.card {
    position: flex;
    margin: 2rem;
    border: 1px solid black;
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
}

.card h1 {
    position: relative;
    height: 50px;
    width: 50px;
    font-size: 5rem;

    background-color: red;
    justify-content: center;
    align-items: center;
}
