@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Global Properties */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Monserrat", "Roboto",
    "Helvetica Neue", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: black;
  font-size: 2rem;
  margin: 2rem;
  display: flex;
  font-weight: 700;
  font-family: "Montserrat";
}

p {
  margin: 2rem;
  text-align: left;
  color: black;
  font-size: 1rem;
  font-weight: light;
  font-family: "Roboto";
}

.App {
  text-align: center;
  flex: true;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}


/* THREE */
.canvas {
    position: center;
    /* background-color: red; */
}

.canvasWrapper {
    height: 50vh;
    z-index: -0;
}

/* FRAMER */
.animationContainer {
  margin: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.video {
  margin: 3rem;
}
